<aside>
  <h2 class="visually-hidden">Menu Bar</h2>
  <ul class="icon-list">
    <li>
      <p class="visually-hidden">About Me</p>
      <img src="../../assets/svg/aboutme.svg" alt="">
    </li>
    <li>
      <p class="visually-hidden">Education</p>
      <img src="../../assets/svg/learning.svg" alt="">
    </li>
    <li>
      <p class="visually-hidden">Work History</p>
      <img src="../../assets/svg/building.svg" alt="">
    </li>
    <li>
      <p class="visually-hidden">Contact Me</p>
      <img src="../../assets/svg/calling.svg" alt="">
    </li>
  </ul>
</aside>