/* You can add global styles to this file, and also import other style files */
// Color Variables
$primary-color: #0a192f;
$secondary-color: #112240;
$accent-color-1: #00a8cc;
$accent-color-2: #4da8da;

// Font Family
$font-family: 'Outfit', sans-serif;

// Body Styles
body {
  background-color: $primary-color;
  color: #ffffff; // Set desired text color
  font-family: $font-family;
  margin: 0px;
  padding: 0px;
}

// Heading Styles
h1, h2, h3, h4, h5, h6 {
  color: $accent-color-1;
  font-weight: 700;
}

// Link Styles
a {
  color: $accent-color-2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Button Styles
.button {
  background-color: $accent-color-1;
  color: $primary-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: $font-family;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $accent-color-2;
  }
}
